<launch>

  <arg name="map_path" default="$(find tamhome_handyman)/maps/handyman_multi.yaml"/>
  <arg name="use_map_server" default="false" />
  <arg name="use_map_topic" default="true" />

  <!-- run rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find tamhome_handyman)/rviz/hanyman.rviz"/>

  <!-- launch sigverse_ros_bridge -->
  <include file="$(find sigverse_ros_bridge)/launch/sigverse_ros_bridge.launch" />

  <!-- launch basic-functions -->
  <include file="$(find sigverse_hsrb_utils)/launch/bringup.launch">
    <arg name="use_map_server" value="$(arg use_map_server)" />
    <arg name="use_map_topic" value="$(arg use_map_server)" />
  </include>

  <!-- run multimap server -->
  <node name="multimap_server" pkg="multimap_server" type="multimap_server" args="$(arg map_path)" />

  <!-- handy man main -->
  <!-- <include file="$(find handyman)/launch/main.launch" /> -->
	
</launch>
